.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0 1rem;
  color: #fff;
  box-shadow: 0px -0.5rem 0.8rem 0px #fff;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-family: "Bungee Outline", cursive;
  letter-spacing: 0.5vw;
  animation: shrink 6s linear;
  color: #00fec3;
  position: relative;
}

.title::before,
.title::after {
  content: "";
  display: inline-block;
  height: 0;
  width: 30vw;
  border-bottom: 0.5rem solid;
  position: absolute;
  bottom: -4px;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.title::before {
  left: -70vw;
  right: auto;
  animation-name: mergeLeftLine;
}

.title::after {
  left: auto;
  right: -70vw;
  animation-name: mergeRightLine;
}

@keyframes mergeLeftLine {
  0% {
    left: -70vw;
  }

  50% {
    left: 70vw;
  }

  100% {
    left: 0;
  }
}

@keyframes mergeRightLine {
  0% {
    right: -70vw;
  }

  50% {
    right: 70vw;
  }

  100% {
    right: 0;
  }
}

@keyframes shrink {
  0% {
    font-size: 1rem;
    letter-spacing: 3vw;
  }

  100% {
    font-size: 3rem;
    letter-spacing: 0.5vw;
  }
}

.gameContainer {
  overflow: hidden;
  margin: auto;
  height: calc(100vh - 80px);
}

.obstacle {
  height: 100%;
  width: 5vw;
  display: inline-block;
  position: absolute;
  left: 0;
  transform: translateX(75vw);
  will-change: transform;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

.obstacle.moving {
  animation-name: runningPipes;
}

.obstacle:nth-child(2) {
  transform: translateX(100vw);
  animation-delay: 2.5s;
}

.pipe {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(
    green 196px,
    transparent 196px,
    transparent 412px,
    green 412px
  );
}

@keyframes runningPipes {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-5vw);
  }
}

.hole {
  width: 100%;
  height: 25%;
  background-color: transparent;
  position: relative;
  top: -62.5%;
}

#character {
  width: 5vh;
  height: 5vh;
  min-width: 30px;
  min-height: 30px;
  position: absolute;
  top: 80px;
  will-change: top;
  position: absolute;
  left: 5vw;
  background-image: url("./images/ufo.svg");
}

.overlay {
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  /* background-color: rgb(0, 0, 0, 0.3); */
}

.overlay > * {
  margin: 1.5rem auto;
}

.score {
  font-size: 1rem;
  height: 90%;
  display: flex;
  align-items: center;
  padding-right: 5rem;
}

.score > span {
  text-shadow: 0px 0px 1rem #ff3824;
}

.topScore {
  background-image: url("./images/flag.svg");
  background-repeat: no-repeat;
  padding-right: 0;
  padding-left: 5rem;
  background-size: auto 80%;
  background-position-y: 100%;
}

.greet,
.gameOverText {
  font-size: 2.5rem;
  font-family: "Bungee Outline", cursive;
  letter-spacing: 0.5rem;
  color: #ff3824;
  text-shadow: 0px 0px 1rem #ff3824;
}

.scoreList {
  padding: 1rem 0.5rem 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.lbScore {
  font-size: 0.8rem;
  margin: 1rem;
  color: #0ff0fc;
}

.lbScore > span {
  color: #d6ff00;
  text-shadow: 0px 0px 1rem #ff3824;
}

.spaceBtn {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  filter: hue-rotate(0deg);
  color: #fff;
  text-decoration: none;
  border-top-left-radius: 2rem 0.5rem;
  border-top-right-radius: 2rem 0.5rem;
  border-bottom-right-radius: 2rem 0.5rem;
  border-bottom-left-radius: 2rem 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.spaceBtn,
.spaceBtn::before {
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(100%, rgba(26, 188, 156, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
}

.spaceBtn:hover {
  filter: hue-rotate(135deg);
}

.btn-shiny {
  box-shadow: 0px 0px 5rem 0px #0ff0fc, 0px 0px 4rem 0px #00fec3,
    0px 0px 3rem 0px #d6ff00;
}

.btn-mini {
  font-size: 0.8rem;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.music {
  display: flex;
}

/* Ripple button */
.btn {
  width: 100px;
  height: 50px;
  background: linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  filter: hue-rotate(0deg);
  border-radius: calc(50px / 2);
  /* box-shadow: rgba(51, 51, 51, 0.1) 0px 32px 64px 0px; */
  overflow: hidden;
  -webkit-animation: changeColor2 0.6s ease forwards;
  animation: changeColor2 0.6s ease forwards;
}

.btn > * {
  background: linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
}

.btn .ripple.ripple--dark {
  z-index: 1;
  -webkit-transform: scale(4.8);
  transform: scale(4.8);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.btn .ripple.ripple--light {
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: z-index 0s 0.6s ease, -webkit-transform 0s ease;
  transition: z-index 0s 0.6s ease, -webkit-transform 0s ease;
  transition: z-index 0s 0.6s ease, transform 0s ease;
  transition: z-index 0s 0.6s ease, transform 0s ease, -webkit-transform 0s ease;
}

.btn.btn--checked {
  filter: hue-rotate(135deg);
  -webkit-animation: changeColor1 0.6s ease forwards;
  animation: changeColor1 0.6s ease forwards;
}

@keyframes changeColor1 {
  80% {
    filter: hue-rotate(0deg);
  }
  80.01% {
    filter: hue-rotate(135deg);
  }
  100% {
    filter: hue-rotate(135deg);
  }
}

@keyframes changeColor2 {
  80% {
    filter: hue-rotate(135deg);
  }
  80.01% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

.btn.btn--checked .ripple.ripple--dark {
  z-index: 2;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: z-index 0s 0.6s ease, -webkit-transform 0s ease;
  transition: z-index 0s 0.6s ease, -webkit-transform 0s ease;
  transition: z-index 0s 0.6s ease, transform 0s ease;
  transition: z-index 0s 0.6s ease, transform 0s ease, -webkit-transform 0s ease;
}

.btn.btn--checked .ripple.ripple--light {
  z-index: 1;
  -webkit-transform: scale(4.8);
  transform: scale(4.8);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.toggle {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 8px;
  border-radius: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle img {
  width: 60%;
}

.toggle.toggle--dark {
  left: 8px;
  background: none;
}

.toggle.toggle--dark img {
  display: none;
}

.btn--checked .toggle.toggle--dark {
  background: linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  filter: hue-rotate(-135deg);
}

.btn--checked .toggle.toggle--dark img {
  display: block;
}

.toggle.toggle--light {
  right: 8px;
  filter: hue-rotate(135deg);
}

.btn--checked .toggle.toggle--light {
  background: none;
}

.btn--checked .toggle.toggle--light img {
  display: none;
}

.ripple {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 8px;
  border-radius: 50%;
}

.ripple.ripple--dark {
  left: 8px;
}

.ripple.ripple--light {
  right: 8px;
}
